body{
    background-color: yellow;
}

.eyew{
    width:150px;
    height:150px; 
    background-color: white;
    position: absolute;
    top:10px;
}

#eyetype1one {

    position:absolute;
    top:100px;
    left:310px;
    
}

#eyetype2one {

    position:absolute;
    top:100px;
    left:110px;
     
}

.eyeb{
    width:50px;
    height:50px; 
    background-color: black;
    position: absolute;
    top: 20px;

}