body{
    background-color: yellow;
}

.eyew{
    width:150px;
    height:150px; 
    display: inline-block;
}

#eyetype1one {

    background-color: white;
    position: relative;
    margin: 100px;
    /* left: 100px; */
    /* position:absolute;
    top:100px;
    left:100px; */
}

#eyetype2one {

    background-color: white;
position: relative;
    left: 100px;
    /* position:absolute;
    left:300px; 
    top: 100px; */
}


